.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data - kept out of version control, see README for how to reproduce


# Env secrets
.env

# Ignore the specific CSV dataset file
**/global_conflicts_dataset.csv

# OS junk
.DS_Store
Thumbs.db